body {
  background-image: linear-gradient(#fff, #f4f3f3);
}

nav {
  background-color: #f4f9f4;
}

.hoverable {
  color: #000;
  font-weight: 600;
  letter-spacing: 1.5px;
}
.hoverable a {
  color: #000;
  padding: 1.2rem 0.5rem 1.2rem 0.5rem !important;
}
.hoverable a:hover {
  color: #000;
  background-color: #e1f4f3;
  transition: background-color 0.4s;
}

.hoverable:hover {
  color: #000;
  background-color: #e1f4f3;
  transition: background-color 0.4s;
}

.header-wrapper {
  padding: 6rem 0 6rem 0;
}

.content-wrapper {
  margin-top: 6rem;
  margin-bottom: 10rem;
}

.post-img:hover {
  opacity: 0.9;
  transition: background-color 0.4s;
}

.project-img {
  object-fit: cover;
  position: relative;
  z-index: 10;
  -webkit-box-shadow: 8px 7px 19px 0px rgba(0,0,0,0.81);
  -moz-box-shadow: 8px 7px 19px 0px rgba(0,0,0,0.81);
  box-shadow: 8px 7px 19px 0px rgba(0,0,0,0.81);
}

.tool-tag {
  -webkit-user-select: all; /* Chrome all / Safari all */
  -moz-user-select: all; /* Firefox all */
  -ms-user-select: all; /* IE 10+ */
  user-select: all; /* Likely future */
}
footer {
  height: 3rem;
}
