{% extends "layout.html" %}
{% block body %}
    <div class="row content-wrapper w-100">
        <div class="col-md-6 offset-md-3 align-self-center">
            <h2 class="text-center">Yazılarım</h2><hr>
            {% if tag %}
                <p class="text-center"> Filtre Etiketi:
                    <a href="{% url 'post:posts'  %}">
                    <span class="badge badge-info ">{{tag.tag_name}}</span>
                    </a>
                </p>
                <br>
            {% endif %}
            {% for post in posts %}
            <div class="card mb-5">
                {% if post.post_image %}
                <a href="{% url 'post:post' post.id %}" class="post-img"><img class="card-img-top" src="{{post.post_image.url}}" alt="Card image cap"></a>
                {% endif %}
                
                <div class="card-body">
                    <a href="{% url 'post:post' post.id %}" class="text-dark"><h4>{{post.post_title}}</h4></a>
                    <small class="text-secondary">{{post.post_date}}</small>


                    <p class="card-text ">{{post.post_content|truncatewords:50|safe}}</p>
               </div>

               <div class="card-footer">
                {% if post.post_tags.all  %}
                <i class="fas fa-tags mr-2"></i>
                {% for tag in post.post_tags.all %}
                    <a href="{% url 'post:tagposts' tag.id %}" class="mr-2 text-decoration-none">
                        <span class="badge badge-primary ">{{tag.tag_name}}</span>
                    </a>
                {% endfor %}
                {% endif %}
                <a href="{% url 'post:post' post.id %}" class="w-100">
                    <span class="badge badge-primary float-right">Daha fazla oku...</span>
                </a>

               </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock body %}