{% extends "layout.html" %}
{% load static %}
{% block body %}
<div class="row">
    <div class="col-md-8 offset-md-2 text-center" style="margin-top: 8rem;">
        {% for project in projects %}
        <div class="project-wrapper row">
            <img class="img-responsive float-left project-img col-5"  src="/media/{{project.image}}" alt="">
            <div class="project-description col-7">
                {{project.title}}
                <hr>
                {{project.description|safe}}
            </div>
        </div>
            
        {% endfor %}
    </div>
</div>

{% endblock body %}